TELEGRAM_BOT_TOKEN=
GEMINI_API_KEY=
RENDER_EXTERNAL_HOSTNAME=
BACKUP_CHANNEL_ID=
OWNER_USER_ID=
GEMINI_MODEL=gemini-3.1-flash-lite
MEMORY_FILE=memory.json
MAX_FILE_SIZE=20971520
ECLAIR_SYSTEM_INSTRUCTION=
ECLAIR_SYSTEM_INSTRUCTION_FILE=
ECLAIR_SECRETARY_INSTRUCTION=
ECLAIR_SECRETARY_INSTRUCTION_FILE=
